<body>

      <div class="card-header border bg-light">
        <img src="assets/bootstrap/image/ico/add-32.ico" alt="Nuevo Cliente" style="float:left"  [routerLink]="['/venta-add']" href="#" class="btn btn-sm" value="Nuevo Cliente" />
         <h5 id="titulo"> {{titulo}} </h5>
      </div>
  

    <div class="card-header">
        <div class="row">

            <div *ngFor="let venta of ventas"class="card card-body col-sm-2 py-2">
                <div class="botones">
                    <img src="assets/bootstrap/image/ico/cart-74-16.ico" style="float:left"/> 
                </div>
                    <a>Fecha:  {{venta.fecha}} </a>
                    <a>{{venta.cliente.nombre1}} {{venta.cliente.nombre2}} </a> 
                    <a></a>
                    <a>Total Venta: {{venta.totalventa}} </a>
                    <a>Total Pagó:  {{venta.pagototal}} </a> 

                <div class="botones" *ngIf="confirmado != venta.id">

                    <img src="assets/bootstrap/image/ico/search-16.ico" alt="Ver" style="float:left"  [routerLink]="['/venta',venta.id]" href="#" class="btn btn-sm" value="Ver" /> 

                    <!--img src="assets/bootstrap/image/ico/edit-9-16.ico" alt="Editar" style="float:left"  [routerLink]="['/venta-edit',venta.id]" href="#" class="btn btn-sm" value="Editar" /--> 

                    <!--img src="assets/bootstrap/image/ico/delete-16.ico" alt="Borrar" style="float:left"  
                    (click)="borrarConfirm(venta.id)" href="#" class="btn btn-sm" value="Borrar" /--> 

                </div>

                <div clas="seguro" *ngIf="confirmado == venta.id">
                <p class="text-danger">¿Esta seguro de borrar la venta?</p>

                <img src="assets/bootstrap/image/ico/check-mark-3-16.ico" alt="Borrar" style="float:left"  (click)="onDelete(venta.id)" href="#" class="btn btn-sm" value="Borrar"/>

                <img src="assets/bootstrap/image/ico/x-mark-16.ico" alt="Borrar" style="float:left"  (click)="cancelarConfirm()" href="#" class="btn btn-sm" value="Borrar" /> 

                </div>
            </div>

        </div>
    </div>
</body>
