<div class="aligner">
    <mat-card class="aligner-center-item">
        <mat-card-title>
            <img src="../assets/bootstrap/image/logo2.png" class="img-rounded" class="fas fa-align-left    " width="130" href="index.html"> Iniciar sesión
        </mat-card-title>
        <mat-card-content>
            <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
                <mat-form-field style="width: 100%; margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
                    <input matInput type="text" formControlName="nombreUsuario" placeholder="Usuario" />
                    <mat-hint style="color: red;" *ngIf="submitted && error?.code == 1 && !loginForm.controls.nombreUsuario.hasError('required')">{{error.message}}</mat-hint>
                    <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls['nombreUsuario'].hasError('required')">El campo es obligatorio</mat-hint>
                </mat-form-field>
                <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
                    <input matInput type="password" formControlName="contrasenia" placeholder="Contraseña" />
                    <mat-hint style="color: red;" *ngIf="submitted && error?.code == 401 && !loginForm.controls.contrasenia.hasError('required')">{{error.message}}</mat-hint>
                    <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls['contrasenia'].hasError('required')">El campo es obligatorio</mat-hint>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions style="text-align: right;">
            <button mat-raised-button type="submit" form="login-form"> Login</button>
        </mat-card-actions>
    </mat-card>
</div>