<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <!---------------------------------------------------- 
Barra Superior
------------------------------------------------------->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <img src="../assets/bootstrap/image/logo2.png" class="img-rounded" width="130" href="index.html">

            <img src="../assets/bootstrap/image/ico/line-width-16.ico" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <!--a class="navbar-brand" href="index.html">Soda Nanatia</a-->
        </div>

        <div class="btn-group" id="userDropdown">
            <img data-toggle="dropdown" src="../assets/bootstrap/image/ico/user-16.ico">

            <div class="dropdown-menu" id="userDropdownN2">
                <a href="#"><img src="../assets/bootstrap/image/ico/user-16.ico"> Usuario</a><br>
                <a href="#"><img src="../assets/bootstrap/image/ico/settings-5-16.ico"> Configuración</a>
                <div class="dropdown-divider"></div>
                <a href="/login"><img src="../assets/bootstrap/image/ico/logout-16.ico"> Logout</a>
            </div>

            <a style="margin-left: 10px"> <img src="../assets/bootstrap/image/ico/help-16.ico"> </a>
        </div>

    </nav>

<ul>

    <div class="container-fluid">
        <!-- Control the column width, and how they should appear on different devices -->
        <div class="row">
            <div class="col-sm-2 bg-light">
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <!-- /Serch-->
                        <!--tr class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button type="ngSubmitmit" value="Add Envase" class="btn btn-link">
                                        <img src="../assets/bootstrap/image/ico/search-3-16.ico">
                                    </button>
                                </span>
                            </div>
                        </tr-->

                        <!--tr class="nav-item active">
                            <a class="nav-link" href="#login" [routerLink]="['/login']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/key-16.ico"> Login <span class="sr-only">(current)</span></a>
                        </tr-->

                        <tr class="nav-item active">
                            <a class="nav-link" href="#home" [routerLink]="['/home']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/home-16.ico"> Inicio
                                <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#verRoles" [routerLink]="['/roles']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/access-16.ico"> Roles <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#verUsuarios" [routerLink]="['/usuarios']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/user-16.ico"> Usuarios <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#verClientes" [routerLink]="['/clientes']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/conference-16.ico"> Clientes <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#verEnvases" [routerLink]="['/envases']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/soda-bottle-16.ico"> Envases <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#verProductos" [routerLink]="['/productos']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/box-5-16.ico"> Productos <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#listaprecios" [routerLink]="['/listaprecios']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/view-details-16.ico"> Listas de Precios <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#stock" [routerLink]="['/stock']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/box-5-16.ico"> Stock <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#fabrica" [routerLink]="['/fabrica']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/factory-16.ico"> Fabrica <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#ventas" [routerLink]="['/venta-add']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/cart-74-16.ico"> Venta <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#vehiculo" [routerLink]="['/vehiculo']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/truck-16.ico"> Vehiculos <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#ruta" [routerLink]="['/ruta']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/road-2-16.ico"> Ruta <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr class="nav-item active">
                            <a class="nav-link" href="#reparto" [routerLink]="['/reparto']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/map-5-16.ico"> Reparto <span class="sr-only">(current)</span></a>
                        </tr>

                        <tr>
                            <a class="nav-link" href="#reportes" [routerLink]="['/reportes']" [routerLinkActive]="['activado']">
                                <img src="../assets/bootstrap/image/ico/clipboard-2-16.ico"> Reportes <span class="sr-only">(current)</span></a>
                        </tr>

                    </div>
                </div>
                <!---------------------------------------------------- /FIN Barra Izquierda 
------------------------------------------------------->

            </div>

            <div class="container-fluid col-sm-10 bg-light">

                <router-outlet> </router-outlet>

            </div>

        </div>
        <br>

    </div>

</ul>

</body>

</html>