<body>

      <div class="card-header border bg-light">
        <img src="assets/bootstrap/image/ico/arrow-112-24.ico" [routerLink]="['/productos']" href="#"
             style="float:left" />
         <h5 id="titulo"> {{titulo}} </h5>
      </div>

<div class="bg-light">

    <form (ngSubmit)="guardar(productoAdd)" #productoAdd="ngForm" id="formProductoAdd">
        
    <!-- Datos Personales-->    
        <div class="card bg-light">

            <div class="botones"  id='margen'>
                <img src="assets/bootstrap/image/ico/soda-bottle-16.ico" style="float:left"/> 
            </div>
            
            <div class="row" id='margen'>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input  type="text" #nombre="ngModel" name="nombre" [(ngModel)]="producto.nombre" 
                                class="form-control" placeholder="Nombre producto" minlength="4" required />
                        <span *ngIf="nombre.touched && !nombre.valid" class="label label-success" >
                                El nombre de la lista no es valido.
                        </span>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Nombre">Descripcion</label>
                        <input  type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.descripcion" 
                                class="form-control" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Nombre">Presentación</label>
                        <input  type="text" #descripcion="ngModel" name="presentacion" [(ngModel)]="producto.presentacion" 
                                class="form-control" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            
            </div>

            <div class="row">

                <div class="col-sm-3 py-3" style="text-align:center;">
                    <div class="form-group">
                        <label for="Activo"> Es retornable?</label>
                        <input  type="checkbox"  #producto.retornable="ngModel" name="retornable" [(ngModel)]="producto.retornable" 
                                class="form-control" />
                    </div>
                </div>
            
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="form_name">Envase</label>
                        <select #producto.envasesTipos.id="ngModel" [(ngModel)]="producto.envasesTipos.id" name="formCliente" class="custom-select mb-3" 
                                (ngModelChange)="getEnvase(producto.envasesTipos.id)">
                            <option *ngFor="let envase of envases; let ind = index"
                            [ngValue]="envase.id">
                                {{envase.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>

        </div>

        <input type="submit" value="{{titulo}}" class="btn btn-success" style="text-align:center;" />  
    </form>  
            
</div>

</body>




