<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {{titulo}} </title>

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../assets/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="table-responsve">
<!-- /.wrapper -->
<div id="wrapper">
<!-- /.row -->
<div class="row">

<!-- PANEL CENTRAL Titulo-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <img src="assets/bootstrap/image/ico/arrow-112-24.ico" [routerLink]="['/listaprecios']" href="#" value="Listado de ListaPrecios" style="float:left" />
                    <h3> </h3>
                    <h4> {{titulo}} </h4>

                </div>
<!-- PANEL CENTRAL-->

                <div class="panel-body">
                    
                    <form (ngSubmit)="guardar(listaprecioAdd)" #listaprecioAdd="ngForm" class="col-lg-6" id="formlistaprecioAdd">
                        <div class="col-lg-6">                          
                            
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"> Tipo Documento </span>
                            </div>
                            
                            <!--div class="input-group input-group-sm mb-4">
                                <select class="input-group input-group-sm" required name="tipoDocumento"
                                [(ngModel)]="listaprecio.tipoDocumento"
                                ng-init="1" >
                                    <option selected [value]=1>Cedula</option>
                                    <option [value]=2>Rut</option>
                              </select>
                            </div-->

                            <div class="input-group-sm mb-1">
                             <select [(ngModel)]="listaprecio.tipoDocumento" name="tipoDocumento" class="custom-select">
                                <option *ngFor="let doc of documentos" [ngValue]="listaprecio.tipoDocumento">{{doc.tipo}}</option>
                            </select>
                            </div>
                         
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nombre 1</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="nombre1" [(ngModel)]="listaprecio.nombre1" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Mail</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="mail" [(ngModel)]="listaprecio.mail" class="form-control" />
                            </div>  
                     
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Celular</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="celular" [(ngModel)]="listaprecio.celular" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Saldo</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="saldo" [(ngModel)]="listaprecio.saldo" class="form-control" />
                            </div>  

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Direccion</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="direccion" [(ngModel)]="direccion.direccion" class="form-control" />
                            </div>  

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Ciudad</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="ciudad" [(ngModel)]="direccion.ciudad" class="form-control" />
                            </div> 

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Activo</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="activo" [(ngModel)]="listaprecio.activo" class="form-control" />
                            </div> 

                        </div>
<!--Pantalla central derecha -->
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nro Documento</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="nroDocumento" [(ngModel)]="listaprecio.nroDocumento" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nombre 2</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="nombre2" [(ngModel)]="listaprecio.nombre2" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Fecha de Nacimiento</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="fechaNacimiento" [(ngModel)]="listaprecio.fechaNacimiento" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Telefono</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="telefono" [(ngModel)]="direccion.telefono" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Lista de Precios</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="idLista" [(ngModel)]="listaprecio.idLista" class="form-control" />
                            </div>  

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Departamento</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="departamento" [(ngModel)]="direccion.departamento" class="form-control" />
                            </div>         

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Codigo Postal</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="codigoPostal" [(ngModel)]="direccion.codigoPostal" class="form-control" />
                            </div> 

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Observaciones</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="observaciones" [(ngModel)]="listaprecio.observaciones" class="form-control" />
                            </div> 

                        </div>
<!--FIN Pantalla central derecha -->
                        <div class="conainer">
                        <div class="row">
                        <div class="col-md-12">

                            <div class="mapa">
                             <agm-map 
                              [latitude]="lat"
                              [longitude]="lng"   
                              [zoom]="zoom"
                              [disableDefaultUI]="false"
                              [zoomControl]="false"
                              (mapClick)="agregarMarcador($event)" 
                              >
                              
                              <agm-marker 
                              *ngFor="let marcador of marcadores; let i = index"
                              (markerclick)="marcadorCliqueado(marcador,i)"
                              [latitude]="marcador.lat" 
                              [longitude]="marcador.lng"
                              [markerDraggable]="marcador.movil"
                              (dragEnd)="posicionFinalMarcador(marcador,$event,i)"
                              >
                               <agm-info-window> 
                                <strong>{{marcador.nombre}}</strong>

                                <button (click)="borrarMarcador(i)" class="btn-alert">Borrar</button>

                               </agm-info-window>
                              
                              </agm-marker>
                            </agm-map>
                            </div>
                        </div>
                        </div>
                        </div>
<!--FIN Pantalla central derecha Mapa -->
                    <br/>
                    <input type="submit" value="{{titulo}}" class="btn btn-success" />    
                </form>
            </div>
            <!-- FIN PANEL CENTRAL-->
        </div>
        <!-- FIN PANEL CENTRAL Titulo-->
</div>
<!-- /.row -->
</div>
<!-- /#wrapper -->
</div>

    <!-- jQuery -->
    <script src="../../assets/bootstrap/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/bootstrap/dist/js/sb-admin-2.js"></script>

</body>

</html>