<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../assets/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="table-responsve">
	<!-- /.wrapper -->
	<div id="wrapper">
	<!-- /.row -->
	<div class="row">
	<!-- PANEL CENTRAL Titulo-->
	    <div class="panel panel-default">

	                <div class="panel-heading">
	                    
	                    <h3>{{titulo}} </h3>
	                
	                </div>
	<!-- PANEL CENTRAL-->
			<img src="assets/bootstrap/image/ico/add-list-16.ico" alt="Nuevo ListaPrecio" style="float:left"  [routerLink]="['/listaprecio-add']" href="#" class="btn btn-sm" value="Nuevo ListaPrecio" /> 

	        <br><br><br>

			<div *ngIf="listaprecios">
			    <div class="col-lg-3" *ngFor="let listaprecio of listaprecios">
			            
			    	<div class="Caption">
			            <img src="assets/bootstrap/image/ico/businessman-16.ico"/>
			                <a>{{listaprecio.nombre1}} {{listaprecio.nombre2}} </a> 
			                <p>{{listaprecio.celular}} </p>
			                <!--p>{{listaprecio.direccion.direccion}}</p-->  
			                <div class="botones" *ngIf="confirmado != listaprecio.id">
			                    <a [routerLink]="['/listaprecios',listaprecio.id]" href="#" class="btn btn-sm btn-primary">Ver</a>
			                    <a [routerLink]="['/listaprecio-edit',listaprecio.id]" href="#" class="btn btn-sm btn-warning">Editar</a>
			                    <a (click)="borrarConfirm(listaprecio.id)" class="btn btn-sm btn-danger">Borrar</a>
			                </div>
			                <div clas="seguro" *ngIf="confirmado == listaprecio.id">
			                    <p  class="text-danger">¿Esta seguro de borrar el listaprecio?</p>
			                    <a (click)="onDeleteListaPrecio(listaprecio.id)" class="btn btn-danger">Confirmar</a>
			                    <a (click)="cancelarConfirm()" class="btn btn-warning">Cancelar</a>
			                </div>
			    		</div>
				<br>
				</div>
			</div>
	        <!-- FIN PANEL CENTRAL-->
		</div>
			<!-- FIN PANEL CENTRAL Titulo-->
	</div>
	<!-- /.row -->
	</div>
	<!-- /#wrapper -->
</div>
	<!--FIN Table response --!

    <!-- jQuery -->
    <script src="../../assets/bootstrap/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/bootstrap/dist/js/sb-admin-2.js"></script>

</body>

</html>
