<body>

      <div class="card-header border bg-light">
        <img src="assets/bootstrap/image/ico/arrow-112-24.ico" [routerLink]="['/roles']" href="#" value="Listado de roles" style="float:left" />
         <h5 id="titulo"> {{titulo}} </h5>
      
      </div>
  

<div class="bg-light">
    <!--form id="contact-form" method="post" action="contact.php" role="form"-->
    <form (ngSubmit)="guardar(rolAdd)" #rolAdd="ngForm" id="formEnvaseAdd">
        
    <!-- Datos Personales-->    
        <div class="card bg-light">

            <div class="botones"  id='margen'>
                <img src="assets/bootstrap/image/ico/key-16.ico" style="float:left"/> 
            </div>
            
            <div class="row" id='margen'>
                <div class="col-sm-3"  id='margen'>
                    
                    <span *ngIf="!rol.valid && rol.touched " class="label label-danger" >El Envase es obligatorio</span>

                    <div class="form-group">
                        <label for="Nombre">Rol</label>
                        <input type="text" #nombreRol="ngModel" name="nombreRol" [(ngModel)]="rol.nombreRol" class="form-control" placeholder="Nombre" minlength="4" required />
                        <div *ngIf="nombreRol.error?.required">
                            El campo es requerido.
                        </div>
                        <div *ngIf="nombreRol.error?.minlength">
                            Por lo menos {{ nombreRol.errors.minglength.requiredLenght }} caracteres.
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>

        </div>
            <br/>
            <input type="submit" value="{{titulo}}" class="btn btn-success" />  
    </form>
</div>

</body>


