<body>


  <div class="card-header">
        <img src="assets/bootstrap/image/ico/arrow-112-24.ico" [routerLink]="['/reparto']" href="#"
             style="float:left" />

        <h5 class="card-title text-center"> <!--style="width: 400px;"-->  {{titulo}} </h5> 
  </div>


<div class="card text-center">
<fieldset disabled>
  <div class="card-body">
  
    <!--h5 class="card-title">Special title treatment</h5-->
    <!--p class="card-text">With supporting text below as a natural lead-in to additional content.</p-->
    <form (ngSubmit)="guardar(formAdd)" #formAdd="ngForm" class="col-lg-12" id="formAdd" 
        style="margin:0 auto;width:75%;text-align:left">

        <div class="row">
            <!--div class="col-sm-6"-->
                <div class="form-group col-sm-4">
                    <h6>Reparto</h6>
                    <input type="text" #descripcion="ngModel" name="nombre" [(ngModel)]="reparto.descripcion" class="form-control" />
                    <div class="help-block with-errors"></div>
                </div>
            
                <div class="form-group col-sm-4">
                    <h6>Vehiculo</h6>
                    <select [(ngModel)]="reparto.vehiculo.id" name="vehiculo" 
                            class="custom-select">
                        <option *ngFor="let vehiculo of vehiculos; let ind = index" 
                         [ngValue]="vehiculo.id">{{vehiculo.descripcion}} Matricula: {{vehiculo.matricula}} 
                        </option>
                    </select>   
                </div>

                <div class="form-group col-sm-4">
                    <h6>Ruta</h6>
                    <select [(ngModel)]="reparto.ruta.id" name="ruta" 
                            class="custom-select">
                        <option *ngFor="let ruta of rutas; let ind = index" 
                         [ngValue]="ruta.id">{{ruta.nombre}}
                        </option>
                    </select> 
                </div>
        </div>
        
        <div class="row">

            <div class="form-group col-sm-4"> 
                <h6>Vendedor 1</h6>
                <select [(ngModel)]="reparto.vendedor1.id" name="vendedor1" 
                        class="custom-select">
                    <option *ngFor="let usuario of usuarios; let ind = index" 
                    [ngValue]="usuario.id">{{usuario.nombre}} {{usuario.apellido}}
                    </option>
                </select>
            </div>

            <div class="form-group col-sm-4"> 
                <h6>Vendedor 2</h6>
                <select [(ngModel)]="reparto.vendedor2.id" name="vendedor2" 
                        class="custom-select">
                    <option *ngFor="let usuario of usuarios; let ind = index" 
                     [ngValue]="usuario.id">{{usuario.nombre}} {{usuario.apellido}}
                    </option>
                </select>         
            </div>

        </div>

        <!--div class="row">    

            <div class="col-sm-3 py-3" style="text-align:center;">
                <h6>Fabrica</h6>
                <select [(ngModel)]="reparto.fabrica" name="fabrica" 
                        class="custom-select">
                    <option *ngFor="let fabrica of fabricas; let ind = index" 
                     [ngValue]="fabrica.id">{{fabrica.nombre}}
                    </option>
                </select>    
            </div>

            <div class="col-sm-3 py-3" style="text-align:center;">
                <div class="form-group">
                    <label for="Activo">Activo</label>
                    <input type="checkbox"  #descripcion="ngModel" name="activo" [(ngModel)]="reparto.activo" class="form-control" />
                </div>
            </div>

        </div-->

        <div class="row"> 

            <div class="col-lg-6">
            <!-- PANEL IZQUIERDA-->
                <div class="input-group input-group-sm">

                    <table class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">Producto</th>
                                <th class="text-center" scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let productoStock of reparto.stock.setProductoStock; let i = index">
                                <td>{{productoStock.producto.descripcion}} </td>
                                <td>
                                     <input class="form-control input-number" type="number" 
                                            min="0" step="1" max="100000" #descripcion="ngModel" 
                                            [(ngModel)]="productoStock.cantidad" 
                                            [ngModelOptions]="{standalone: true}" contenteditable="false">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>                                
            <!-- PANEL IZQUIERDA-->
            </div>

            <div class="col-lg-6">
            <!--Pantalla central derecha -->
                <div class="input-group input-group-sm">

                    <table class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">Envase</th>
                                <th class="text-center" scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let envaseStock of reparto.stock.setEnvaseStock; let i = index">
                                <td>{{envaseStock.envasesTipos.descripcion}}</td>
                                <td>
                                     <input class="form-control input-number" type="number" 
                                            min="0" step="1" max="100000" #descripcion="ngModel" 
                                            [(ngModel)]="envaseStock.cantidad" 
                                            [ngModelOptions]="{standalone: true}" contenteditable="false">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                
                </div>  

            <!--FIN Pantalla central derecha -->
            </div>

        </div>
    </form>


  
  </div>

  <div class="card-footer text-muted">
    
    <!-- PIE DE PAGINA -->

  </div>

</fieldset>
</div>

</body>
