<body>

      <div class="card-header border bg-light">
        <img src="assets/bootstrap/image/ico/add-32.ico" alt="Nuevo" style="float:left"  
        [routerLink]="['/reparto-add']" href="#" class="btn btn-sm" value="Nuevo" />
         <h5 id="titulo"> {{titulo}} </h5>
      </div>
  

    <div class="container">
        <div class="row">
            
            <div *ngFor="let reparto of repartos"class="card card-body col-sm-2 py-2">
                <div class="botones">
                    <img src="assets/bootstrap/image/ico/truck-16.ico" style="float:left"/> 
                </div>
                    <a>{{reparto.nombre}} </a> 

                <div class="botones" *ngIf="confirmado != reparto.id">

                    <img src="assets/bootstrap/image/ico/search-16.ico" alt="Ver" style="float:left"  [routerLink]="['/repartos',reparto.id]" href="#" class="btn btn-sm" value="Ver" /> 

                    <img src="assets/bootstrap/image/ico/edit-9-16.ico" alt="Editar" style="float:left"  [routerLink]="['/reparto-edit',reparto.id]" href="#" class="btn btn-sm" value="Editar" /> 

                    <img src="assets/bootstrap/image/ico/delete-16.ico" alt="Borrar" style="float:left"  
                    (click)="borrarConfirm(reparto.id)" href="#" class="btn btn-sm" value="Borrar" /> 

                </div>

                <div clas="seguro" *ngIf="confirmado == reparto.id">
                <p class="text-danger">¿Esta seguro de borrar la reparto?</p>

                <img src="assets/bootstrap/image/ico/check-mark-3-16.ico" alt="Borrar" style="float:left"  (click)="onDeleteEnvase(reparto.id)" href="#" class="btn btn-sm" value="Borrar"/>

                <img src="assets/bootstrap/image/ico/x-mark-16.ico" alt="Borrar" style="float:left"  (click)="cancelarConfirm()" href="#" class="btn btn-sm" value="Borrar" /> 

                </div>
            </div>

        </div>
    </div>
</body>
