<body>

      <div class="card-header border bg-light">
        <img src="assets/bootstrap/image/ico/arrow-112-24.ico" [routerLink]="['/usuarios']" href="#"
             style="float:left" />
         <h5 id="titulo"> {{titulo}} </h5>
      
      </div>

<div class="bg-light">
<fieldset disabled>

    <form (ngSubmit)="guardar(usuarioAdd)" #usuarioAdd="ngForm" id="formUsuarioAdd">
        
    <!-- Datos Personales-->    
        <div class="card bg-light">

            <div class="botones"  id='margen'>
                <img src="assets/bootstrap/image/ico/user-16.ico" style="float:left"/> 
            </div>
            
            <div class="row" id='margen'>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Nombre">Usuario</label>
                        <input  type="text" #user="ngModel" name="usuario" [(ngModel)]="usuario.usuario" 
                                class="form-control" placeholder="usuario" minlength="3" required />
                        <span *ngIf="user.touched && !user.valid" class="label label-success" >
                            El usuario no es valido.
                        </span>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input  type="text" #Nombre="ngModel" name="nombre" [(ngModel)]="usuario.nombre"
                                class="form-control"  minlength="3" required />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Nombre">Apellido</label>
                        <input  type="text" #Apellido="ngModel" name="apellido" [(ngModel)]="usuario.apellido" 
                                class="form-control" minlength="3" required />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            
            </div>

            <div class="row">
            
                <div class="col-sm-3"  id='margen2'>
                    <div class="form-group">
                        <label for="Documento">Contraseña</label>
                        <input  type="password" #contrasenia="ngModel" name="contrasenia" [(ngModel)]="usuario.contrasenia" 
                                class="form-control" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-3  py-3">
                    <div class="form-group">
                        <label for="Tpo">Rol</label>
                        <select [(ngModel)]="rol.id" name="rolId" 
                        class="custom-select">
                            <option *ngFor="let rol of roles; let ind = index" 
                            [ngValue]="rol.id">{{rol.nombreRol}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
                
            <div class="row">

                <div class="col-sm-3"  id='margen2'>
                    <label for="Saldo">Saldo Caja $</label>
                    <input  type="number" #saldoCaja="ngModel" name="saldoCaja" [(ngModel)]="usuario.saldoCaja" 
                            class="form-control"  /> 
                    <div class="help-block with-errors"></div>
                </div>

                <div class="col-sm-3 py-3" style="text-align:center;">
                    <div class="form-group">
                        <label for="Activo"> Es Vendedor?</label>
                        <input  type="checkbox"  #activo="ngModel" name="activo" [(ngModel)]="usuario.esVendedor" 
                                class="form-control" checked="true" />
                    </div>
                </div>
            
            </div>

        </div>

    </form>  
</fieldset>         
</div>

</body>