<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../assets/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="table-responsve">
<!-- /.wrapper -->
<div id="wrapper">
<!-- /.row -->
<div class="row">

<!-- PANEL CENTRAL Titulo-->
            <div class="panel panel-default">

                <div class="panel-heading">

                    <img src="assets/bootstrap/image/ico/arrow-91-16.ico" [routerLink]="['/usuarios']" href="#" value="Listado de Usuarios" /> 
                    
                    <h3>{{titulo}} </h3>
                
                </div>
<!-- PANEL CENTRAL-->
                
            <div class="panel-body">

                <div class="row" *ngIf="usuario">
                    <div class="col-lg-6" *ngIf="usuario.id">
                        <div class="col-lg-6">                          
                        
                        <fieldset disabled>

                            <div class="input-group input-group-sm">
                                    <span class="input-group-addon"> Nombre </span>
                            </div>
                            <input class="input-group input-group-sm mb-3" type="text" value={{usuario.nombre}}/>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Apellido</span>
                            </div>
                            <input class="input-group input-group-sm mb-3" type="text" value={{usuario.apellido}}/>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Rol</span>
                            </div>
                                <input class="input-group input-group-sm mb-3" type="text" value={{usuario.rol.nombreRol}}/>

                        </fieldset>
                        
                        </div>
<!--Pantalla central derecha -->
                        <div class="col-lg-6">
                        
                        <fieldset disabled>
                            
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"> Saldo Caja </span>
                            </div>
                            <input class="input-group input-group-sm mb-3" type="text" value={{usuario.saldoCaja}}/>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Vendedor</span>
                            </div>
                            <input [(ngModel)]="usuario.esVendedor" name="esVendedor" type="checkbox" class="form-check-input  mb-3">
   
                        </fieldset>
                        
                        </div>
<!--FIN Pantalla central derecha -->

                    </div>
                </div>
            </div>
        <!-- FIN PANEL CENTRAL-->
    </div>
    <!-- FIN PANEL CENTRAL Titulo-->
</div>
<!-- /.row -->
</div>
<!-- /#wrapper -->
</div>

    <!-- jQuery -->
    <script src="../../assets/bootstrap/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/bootstrap/dist/js/sb-admin-2.js"></script>

</body>

</html>
