<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {{titulo}} </title>

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../assets/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="table-responsve">
<!-- /.wrapper -->
<div id="wrapper">
<!-- /.row -->
<div class="row">

<!-- PANEL CENTRAL Titulo-->
    <div class="panel panel-default">

                <div class="card-header text-center font-weight-bold text-uppercase py-3">
                    <img src="assets/bootstrap/image/ico/arrow-112-24.ico" 
                         [routerLink]="['/stock']" href="#" value="Stock" style="float:left" />
                    
                    {{titulo}}                    

                </div>

        <div class="panel-body">                      
        <!-- PANEL CENTRAL-->
            <div class="row" *ngIf="stock">
                <div class="col-lg-6" *ngIf="stock.id">              

                    <div class="input-group input-group-sm">
                        <h5 class="card-header text-center font-weight-bold text-uppercase py-2">Stock N°: {{stock.id}}</h5>
                        <h6 class="card-header text-center font-weight-bold text-uppercase py-1">{{stock.fecha}}</h6>
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
            <!-- PANEL IZQUIERDA-->

                <div class="input-group input-group-sm">

                        <h5 class="card-header text-center font-weight-bold text-uppercase py-2">Productos</h5>
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                          <thead>
                            <tr>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Descripcion</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let envaseStock of stock.setEnvaseStock">
                                <td> {{envaseStock.cantidad}}</td>
                                <td> {{envaseStock.envasesTipos.descripcion}}</td>
                            </tr>
                          </tbody>
                        </table>
                </div>  
            <!--FIN Panel IZQUIERDA -->
            </div>

            <div class="col-lg-6">
            <!--FIN Panel derecha -->

                <div class="input-group input-group-sm">
                        <h5 class="card-header text-center font-weight-bold text-uppercase py-2">Envases</h5>
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                          <thead>
                            <tr>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Presentacion</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Retornable</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let productoStock of stock.setProductoStock">
                                <td> {{productoStock.cantidad}}</td>
                                <td> {{productoStock.producto.nombre}}</td>
                                <td> {{productoStock.producto.presentacion}}</td>
                                <td> {{productoStock.producto.descripcion}}</td>
                                <td> {{productoStock.producto.retornable}}</td>
                            </tr>
                          </tbody>
                        </table>
                </div>  
            <!--FIN Panel derecha -->
            </div>


            </div>
            <!-- FIN PANEL CENTRAL-->
        </div>
    <!-- FIN PANEL CENTRAL Titulo-->
    </div>
<!-- /.row -->
</div>
<!-- /#wrapper -->
</div>


    <!-- jQuery -->
    <script src="../../assets/bootstrap/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/bootstrap/dist/js/sb-admin-2.js"></script>

</body>

</html>

