<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {{titulo}} </title>

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../assets/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="table-responsve">
        <!-- /.wrapper -->
        <div id="wrapper">
            <!-- /.row -->
            <div class="row">

                <!-- PANEL CENTRAL Titulo-->
                <div class="panel panel-default">

                <div class="card-header text-center font-weight-bold text-uppercase py-3">
                    <img src="assets/bootstrap/image/ico/arrow-112-24.ico" 
                         [routerLink]="['/stock']" href="#" value="Stock" style="float:left" />
                    
                    {{titulo}}                    

                </div>
                    <!-- PANEL CENTRAL-->

                    <div class="panel-body">

                        <form (ngSubmit)="guardar(formStockAdd)" #Add="ngForm" class="col-lg-6" id="formStockAdd">
                            <div class="col-lg-12">

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Stock</span>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control" name="">
                                    <!--input type="text" #descripcion="ngModel" name="nombreStock" [(ngModel)]="stock.nombreStock" class="form-control" /-->
                                </div>
                            </div>

                            <div class="col-lg-6">
                            <!-- PANEL IZQUIERDA-->
                                <div class="input-group input-group-sm">

                                    <table class="table table-bordered table-responsive-md table-striped text-center">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Producto</th>
                                                <th class="text-center" scope="col">Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let productoStock of stock.setProductoStock; let i = index">
                                                <td>{{productoStock.producto.descripcion}} </td>
                                                <td>
                                                    <input  class="form-control input-number" type="number" min="0" max="100000" 
                                                            step="1" #descripcion="ngModel" name="cantidad" 
                                                            ng-value="productoStock.cantidad"
                                                            [(ngModel)]="productoStock.cantidad">
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                                
                            <!-- PANEL IZQUIERDA-->
                            </div>

                            <div class="col-lg-6">
                            <!--Pantalla central derecha -->
                                <div class="input-group input-group-sm">

                                    <table class="table table-bordered table-responsive-md table-striped text-center">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Envase</th>
                                                <th class="text-center" scope="col">Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let envaseStock of stock.setEnvaseStock; let i = index">
                                                <td>{{envaseStock.envasesTipos.descripcion}} </td>
                                                <td>
                                                    <input  class="form-control input-number" type="number" min="0" max="100000" 
                                                            step="1" #descripcion="ngModel" name="cantidad" 
                                                            ng-value="envaseStock.cantidad"
                                                            [(ngModel)]="envaseStock.cantidad">
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                
                                </div>  

                            <!--FIN Pantalla central derecha -->
                            </div>


                            <!--FIN Pantalla central derecha  -->
                            <br/>
                            <input type="submit" value="{{titulo}}" class="btn btn-success" />
                        </form>

                    </div>
                    <!-- FIN PANEL CENTRAL-->
                </div>
                <!-- FIN PANEL CENTRAL Titulo-->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#wrapper -->
    </div>

    <!-- jQuery -->
    <script src="../../assets/bootstrap/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/bootstrap/dist/js/sb-admin-2.js"></script>

</body>

</html>