<div class="col-lg-10 col-lg-offset-1">
<div class="table-responsve">
<div class="jumbotron">
	<h5>{{titulo}} </h5>


    <div class="row" *ngIf="producto">
        <div class="row" *ngIf="producto.id">
            <br>
            <table class="table table-striped">
                <thead>
                    <tr class="bg-success">
                        <th>#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">presentacion </th>
                        <th scope="col">descripcion </th>
                        <th scope="col">retornable </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{producto.id}} </td>
                        <td>{{producto.nombre}} </td>
                        <td>{{producto.presentacion}} </td>
                        <td>{{producto.descripcion}} </td>
                        <td>{{producto.retornable}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
</div>