<div class="col-lg-10 col-lg-offset-1">
<div class="table-responsve">
<div class="jumbotron">
	<h5>{{titulo}} </h5>

		<div class="row" *ngIf="usuario">
		<div class="row" *ngIf="usuario.usuario">
		<br>
			<table class="table table-striped">
			  <thead>
			    <tr class="bg-success">
					<th>#</th>
					<th scope="col">Usuario</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido </th>
					<th scope="col">Rol </th>
					<th scope="col">Contrasenia </th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
					<td>{{usuario.id}} </td>
					<td>{{usuario.usuario}} </td>
					<td>{{usuario.nombre}} </td>
					<td>{{usuario.apellido}} </td>
					<td>{{usuario.rol}} </td>
					<td>{{usuario.contrasenia}} </td>
			    </tr>
			  </tbody>
			</table>
		</div>
		</div>

		<div class="row" *ngIf="usuarios">
		<br>
			<table class="table table-striped">
			  <thead>
			    <tr class="bg-success">
					<th>#</th>
					<th scope="col">Usuario</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido </th>
					<th scope="col">Rol </th>
					<th scope="col">Contrasenia </th>	
				</tr>
			  </thead>
			  <tbody>
			    <tr class="col-lg-3" *ngFor="let usuario of usuarios">
			      	<td>{{usuario.id}} </td>
					<td>{{usuario.usuario}} </td>
					<td>{{usuario.nombre}} </td>
					<td>{{usuario.apellido}} </td>
					<td>{{usuario.rol}} </td>
					<td>{{usuario.contrasenia}} </td>
			    </tr>
			  </tbody>
			</table>
		</div>
</div>
</div>
</div>