<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {{titulo}} </title>

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../assets/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="table-responsve">
<!-- /.wrapper -->
<div id="wrapper">
<!-- /.row -->
<div class="row">

<!-- PANEL CENTRAL Titulo-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <img src="assets/bootstrap/image/ico/arrow-112-24.ico" [routerLink]="['/clientes']" href="#" value="Listado de Clientes" style="float:left" />
                    <h3> </h3>
                    <h4> {{titulo}} </h4>

                </div>
<!-- PANEL CENTRAL-->

                <div class="panel-body">
                    
                    <form (ngSubmit)="guardar(clienteAdd)" #clienteAdd="ngForm" class="col-lg-6" id="formclienteAdd">
                        <div class="col-lg-6">     


                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"> Tipo Documento </span>
                            </div>
                            
                            <div class="input-group input-group-sm mb-4">
 
                                <select class="input-group input-group-sm" 
                                name="tipoDocumento" [(ngModel)]="cliente.tipoDocumento">
                                    <option>{{cliente.tipoDocumento}} </option>

                                    <option *ngFor="let doc of documentos"
                                            [value]="doc.id">{{doc.tipo}}
                                    </option>
                                </select>

                            </div>
                         
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nombre 1</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="nombre1" 
                                [(ngModel)]="cliente.nombre1" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Mail</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="mail" 
                                [(ngModel)]="cliente.mail" class="form-control" />
                            </div>  
                     
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Celular</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="celular" 
                                [(ngModel)]="cliente.celular" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Saldo</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="saldo" 
                                [(ngModel)]="cliente.saldo" class="form-control" />
                            </div>  

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Direccion</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="direccion" 
                                [(ngModel)]="direccion.direccion" class="form-control" />
                            </div>  

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Ciudad</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="ciudad" 
                                [(ngModel)]="direccion.ciudad" class="form-control" />
                            </div> 

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Activo</span>
                            </div>
                            <div class="input-group input-group-sm mb-3" style="float:left">
                                <input [(ngModel)]="cliente.activo" name="activo" type="checkbox" class="form-check-input"> 
                            </div>


                        </div>
<!--Pantalla central derecha -->
                        <div class="col-lg-6">


                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nro Documento</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="nroDocumento" [(ngModel)]="cliente.nroDocumento" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nombre 2</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="nombre2" [(ngModel)]="cliente.nombre2" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Fecha de Nacimiento</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="date" #descripcion="ngModel" name="fechaNacimiento" [(ngModel)]="cliente.fechaNacimiento" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Telefono</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="telefono" [(ngModel)]="direccion.telefono" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Lista de Precios</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="idLista" [(ngModel)]="cliente.idLista" class="form-control" />
                            </div>  

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Departamento</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="departamento" [(ngModel)]="direccion.departamento" class="form-control" />
                            </div>         

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Codigo Postal</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="codPostal" [(ngModel)]="direccion.codPostal" class="form-control" />
                            </div> 

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Observaciones</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="observaciones" [(ngModel)]="cliente.observaciones" class="form-control" />
                            </div> 


                            <!-- DIAS -->
                            
                            <!--table class="table">
                            <thead>
                                <tr>
                                    <th><label class="form-check-label" for="defaultCheck1">LUNES</label></th>
                                    <input [(ngModel)]="cliente.dias.lunes" name="activo" type="checkbox" class="form-check-input"> 

                                    <th><label class="form-check-label" for="defaultCheck1"> MARTES</label></th>
                                    <input [(ngModel)]="cliente.activo.martes" name="activo" type="checkbox" class="form-check-input"> 
                                </tr>

                                <tr>
                                    <th><label class="form-check-label" for="defaultCheck1"> MIERCOLES</label></th>
                                    <input [(ngModel)]="cliente.activo.miercoles" name="activo" type="checkbox" class="form-check-input"> 
                                
                                    <th><label class="form-check-label" for="defaultCheck1"> JUEVES</label></th>
                                    <input [(ngModel)]="cliente.activo.jueves" name="activo" type="checkbox" class="form-check-input"> 
                                </tr>
                            
                                <tr>
                                    <th><label class="form-check-label" for="defaultCheck1"> VIERNES</label></th>
                                    <input [(ngModel)]="cliente.activo.viernes" name="activo" type="checkbox" class="form-check-input"> 
                                
                                    <th><label class="form-check-label" for="defaultCheck1"> SABADO</label></th>
                                    <input [(ngModel)]="cliente.activo.sabado" name="activo" type="checkbox" class="form-check-input"> 
                                </tr>
                                
                                <tr>
                                    <th><label class="form-check-label" for="defaultCheck1"> DOMING</label></th>
                                    <input [(ngModel)]="cliente.activo.domingo" name="activo" type="checkbox" class="form-check-input"> 
                                </tr>
                            </thead>
                            </table-->

                            <!-- FIN DIAS -->

                       </div>
<!--FIN Pantalla central derecha -->
                        <div class="conainer">
                        <div class="row">
                        <div class="col-md-12">

                            <div class="mapa">
                             <agm-map 
                              [latitude]="lat"
                              [longitude]="lng"   
                              [zoom]="zoom"
                              [disableDefaultUI]="false"
                              [zoomControl]="false"
                              (mapClick)="agregarMarcador($event)" 
                              >
                              
                              <agm-marker 
                              *ngFor="let marcador of marcadores; let i = index"
                              (markerclick)="marcadorCliqueado(marcador,i)"
                              [latitude]="marcador.lat" 
                              [longitude]="marcador.lng"
                              [markerDraggable]="marcador.movil"
                              (dragEnd)="posicionFinalMarcador(marcador,$event,i)"
                              >
                               <agm-info-window> 
                                <strong>{{marcador.nombre}}</strong>

                                <button (click)="borrarMarcador(i)" class="btn-alert">Borrar</button>

                               </agm-info-window>
                              
                              </agm-marker>
                            </agm-map>
                            </div>
                        </div>
                        </div>
                        </div>


                <div class="input-group input-group-sm">

                <form (ngSubmit)="addEnvaseEnPrestamo(envaseAdd)" #envaseAdd="ngForm" 
                class="col-lg-6" id="addEnvaseEnPrestamo">       

                    <div class="input-group input-group-sm">
                    <tr>
                        <td>
                            <span class="input-group-addon"> Envase </span>
                        </td>
                        <td>
                            <span class="input-group-addon"> # </span>    
                        </td>
                    </tr>
                    </div>


                    <div class="input-group-sm mb-3">
                    <tr>
                        <td>   
                            <select [(ngModel)]="envase.id" name="id" class="custom-select">
                                <option *ngFor="let tipo of envases; let ind = index" 
                                    [ngValue]="tipo.id">{{tipo.descripcion}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control input-number" type="number" value="0" min="0" max="100" step="1" #descripcion="ngModel" name="cantidad"  [(ngModel)]="envaseEnprestamo.cantidad">
                        </td>
                    </tr>
                        <button type="ngSubmitmit" value="Add Envase" class="btn btn-outline-light btn-sm">
                                <img src="assets/bootstrap/image/ico/plus-5-16.ico" 
                                 style="float:center"/> <p> Envases en Prestamo </p>
                        </button>
                    </div>


                    <div class="input-group input-group-sm">

                            <table class="table table-bordered">
                              <thead>
                                <tr class="bg-success">
                                    <th scope="col">Envase</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let ep of envasesEnprestamo">
                                    <td>{{ep.envasetipos.descripcion}} </td>
                                    <td>{{ep.cantidad}} </td>
                                    <!--input class="form-control input-number" type="number" value="0" min="0" max="100" step="1" #descripcion="ngModel" name="cantidad"  [(ngModel)]="envaseEnprestamo.cantidad"-->
                                </tr>
                              </tbody>
                            </table>
                    </div>    

                </form>  
                </div>


<!--FIN Pantalla central derecha Mapa -->
                    <br/>
                    <input type="submit" value="{{titulo}}" class="btn btn-success" />    
                </form>

            </div>
            <!-- FIN PANEL CENTRAL-->
        </div>
        <!-- FIN PANEL CENTRAL Titulo-->
</div>
<!-- /.row -->
</div>
<!-- /#wrapper -->
</div>

    <!-- jQuery -->
    <script src="../../assets/bootstrap/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/bootstrap/dist/js/sb-admin-2.js"></script>

</body>

</html>

