<body>

      <div class="card-header border bg-light">
        <img src="assets/bootstrap/image/ico/add-user-3-32.ico" alt="Nuevo Cliente" style="float:left"  [routerLink]="['/cliente-add']" href="#" class="btn btn-sm" value="Nuevo Cliente" />
         <h5 id="titulo"> {{titulo}} </h5>
      
      </div>
  

    <div class="container bg-light">
        <div class="row">
        	
            <div *ngFor="let cliente of clientes"class="card card-body col-sm-2 py-2">
            	<div class="botones">
                    <img src="assets/bootstrap/image/ico/businessman-16.ico" style="float:left"/> 
                </div>
                    <a>{{cliente.nombre1}} {{cliente.nombre2}} </a> 
			        <p>{{cliente.celular}} </p>

                <div class="botones" *ngIf="confirmado != cliente.id">

                    <img src="assets/bootstrap/image/ico/search-16.ico" alt="Ver" style="float:left"  [routerLink]="['/clientes',cliente.id]" href="#" class="btn btn-sm" value="Ver" /> 

                    <img src="assets/bootstrap/image/ico/edit-9-16.ico" alt="Editar" style="float:left"  [routerLink]="['/cliente-edit',cliente.id]" href="#" class="btn btn-sm" value="Editar" /> 

                    <img src="assets/bootstrap/image/ico/delete-16.ico" alt="Borrar" style="float:left"  
                    (click)="borrarConfirm(cliente.id)" href="#" class="btn btn-sm" value="Borrar" /> 

                </div>

                <div clas="seguro" *ngIf="confirmado == cliente.id">
                <p class="text-danger">¿Esta seguro de borrar el cliente?</p>

                <img src="assets/bootstrap/image/ico/check-mark-3-16.ico" alt="Borrar" style="float:left"  (click)="onDeleteEnvase(cliente.id)" href="#" class="btn btn-sm" value="Borrar"/>

                <img src="assets/bootstrap/image/ico/x-mark-16.ico" alt="Borrar" style="float:left"  (click)="cancelarConfirm()" href="#" class="btn btn-sm" value="Borrar" /> 

                </div>
            </div>

        </div>
    </div>
</body>

