<div class="col-lg-10 col-lg-offset-1">
<div class="table-responsve">
<div class="jumbotron">
	<h5>{{titulo}} </h5>


    <div class="row" *ngIf="producto">
        <div class="row" *ngIf="producto.id">
            <br>
            <table class="table table-striped">
                <thead>
                    <tr class="bg-success">
                        <th>#</th>
                        <th scope="col">Tipo Documento</th>
                        <th scope="col">Nro Documento</th> 
                        <th scope="col">Nombre1</th>
                        <th scope="col">Nombre2</th> 
                        <th scope="col">Saldo</th> 
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Fecha Alta</th> 
                        <th scope="col">Celular</th> 
                        <th scope="col">Mail</th>
                        <th scope="col">Envases</th> 
                        <th scope="col">Lista de Precios</th>    
                        <th scope="col">Observaciones</th> 
                        <th scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{cliente.tipoDocumento}} </td>
                        <td>{{cliente.nroDocumento}} </td>
                        <td>{{cliente.Nombre1}} </td>
                        <td>{{cliente.Nombre2}} </td>
                        <td>{{cliente.saldo}} </td>
                        <td>{{cliente.fechaNacimiento}} </td>
                        <td>{{cliente.fechaAlta}} </td>
                        <td>{{cliente.celular}} </td>
                        <td>{{cliente.mail}} </td>
                        <td>{{cliente.envases}} </td>
                        <td>{{cliente.idLista}} </td>
                        <td>{{cliente.observaciones}} </td>
                        <td>{{cliente.activo}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
</div>