<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {{titulo}} </title>

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../assets/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="table-responsve">
<!-- /.wrapper -->
<div id="wrapper">
<!-- /.row -->
<div class="row">

<!-- PANEL CENTRAL Titulo-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <img src="assets/bootstrap/image/ico/arrow-112-24.ico" [routerLink]="['/clientes']" href="#" value="Listado de Clientes" style="float:left" />
                    <h3> </h3>
                    <h4> {{titulo}} </h4>

                </div>
<!-- PANEL CENTRAL-->

                <div class="panel-body">
                    
                    <!--form  #cliente-detail="ngForm" class="col-lg-6" id="cliente-detail"-->
                    <div class="row" *ngIf="cliente">
                    <div class="col-lg-6" *ngIf="cliente.id">

                        <div class="col-lg-6">   
                         <fieldset disabled>   
                        
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"> Tipo Documento </span>
                            </div>
                            
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="tipoDocumento" 
                                [(ngModel)]="cliente.tipoDocumento" class="form-control" />
                            </div>
                              
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nombre 1</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="nombre1" 
                                [(ngModel)]="cliente.nombre1" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Fecha de Nacimiento</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="fechaNacimiento" [(ngModel)]="cliente.fechaNacimiento" class="form-control" />
                            </div>
                        
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Celular</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="celular" 
                                [(ngModel)]="cliente.celular" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Mail</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="mail" 
                                [(ngModel)]="cliente.mail" class="form-control" />
                            </div>                        

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Saldo</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="saldo" 
                                [(ngModel)]="cliente.saldo" class="form-control" />
                            </div>  

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Direccion</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="direccion" 
                                [(ngModel)]="cliente.direccion.direccion" class="form-control" />
                            </div>  

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Ciudad</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #ciudad="ngModel" name="ciudad" 
                                [(ngModel)]="cliente.direccion.ciudad" class="form-control" />
                            </div> 

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Activo</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="activo" 
                                [(ngModel)]="cliente.activo" class="form-control" />
                            </div> 
                        </fieldset>
                        </div>
<!--Pantalla central derecha -->
                        <div class="col-lg-6">
                        <fieldset disabled>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nro Documento</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="nroDocumento" 
                                [(ngModel)]="cliente.nroDocumento" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nombre 2</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="nombre2" 
                                [(ngModel)]="cliente.nombre2" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Fecha Alta</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="fechaAlta" 
                                [(ngModel)]="cliente.fechaAlta" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Telefono</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="telefono" 
                                [(ngModel)]="cliente.direccion.telefono" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Lista de Precios</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="idLista" 
                                [(ngModel)]="cliente.idLista" class="form-control" />
                            </div>  

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Departamento</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="departamento" 
                                [(ngModel)]="cliente.direccion.departamento" class="form-control" />
                            </div>         

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Codigo Postal</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="codPostal" 
                                [(ngModel)]="cliente.direccion.codPostal" class="form-control" />
                            </div> 

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Observaciones</span>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" #descripcion="ngModel" name="observaciones" 
                                [(ngModel)]="cliente.observaciones" class="form-control" />
                            </div> 
                        </fieldset>
                        </div>
<!--FIN Pantalla central derecha -->
                        <div class="conainer">
                        <div class="row">
                        <div class="col-md-12">
                        <fieldset disabled>
                            <div class="mapa">
                             <agm-map 
                              [latitude]="lat"
                              [longitude]="lng"   
                              [zoom]="zoom"
                              [disableDefaultUI]="false"
                              [zoomControl]="false"
                              (mapClick)="agregarMarcador($event)" 
                              >
                              
                              <agm-marker 
                              [latitude]="cliente.direccion.coordLat" 
                              [longitude]="cliente.direccion.coordLon"
                              >
                               <agm-info-window> 
                                <strong>{{marcador.nombre}}</strong>

                               </agm-info-window>
                              
                              </agm-marker>
                            </agm-map>
                            </div>
                        </fieldset>
                        </div>
                        </div>
                        </div>


                    <br><br>

                    <div class="input-group input-group-sm">

                            <table class="table table-bordered">
                              <thead>
                                <tr class="bg-success">
                                    <th scope="col">Envase</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let ep of cliente.setEnvasesEnPrestamo">
                                    <td>{{ep.envasetipos.descripcion}} </td>
                                    <td>{{ep.cantidad}} </td>
                                </tr>
                              </tbody>
                            </table>
                    </div>    

<!--FIN Pantalla central derecha Mapa -->
                    <br/>

                <!--/form-->
                </div>
                </div>
            </div>
            <!-- FIN PANEL CENTRAL-->
        </div>
        <!-- FIN PANEL CENTRAL Titulo-->
</div>
<!-- /.row -->
</div>
<!-- /#wrapper -->
</div>

    <!-- jQuery -->
    <script src="../../assets/bootstrap/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../assets/bootstrap/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/bootstrap/dist/js/sb-admin-2.js"></script>

</body>

</html>

